<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Test</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Roboto:wght@500&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="css/style.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
  <h1>Aufgabe</h1>
  <p>Ein Traum auf vier Rädern</p>
  <div id="spec">
    <div class="tabs">
      <nav class="tabs__nav">
        <ul>
          <li v-for="(tab, index) in spec">
            <button
              @click.prevent="show = index; setActiveTab(index)"
              :class="{'active': show == index}"
            >
              {{ tab.group }}
            </button>
          </li>
        </ul>
      </nav>
      <div
        v-for="(tab, index) in spec"
        :key="index"
        class="tab__content"
        v-bind:class="{'active': show == index}"
        tabindex="0"
      >
        <button
          @click.prevent="show = index; setActiveTab(index)"
          class="tab__content-link"
          v-bind:class="{'active': show == index}"
        >
          {{ tab.group }}
        </button>
        <div class="tab__content-content">
          <dl
            v-if="tab.items"
            v-for="(item, index) in tab.items"
            :key="index"
          >
            <dt>{{ item.name }}</dt>
            <dd>{{ item.value }}</dd>
          </dl>
          <p v-if="tab.text">{{ tab.text }}</p>
        </div>
      </div>
    </div>
    <div class="price__block" v-if="price">
      <label for="qty">
        Menge:
        <input
          type="number"
          id="qty"
          name="qty"
          min="1"
          step="1"
          value="1"
          v-model.number="qty"
        />
      </label>
      <span class="price">
        <span class="price--old">19,95€</span>
        <span class="price--current"
          >{{ calculatePrice | formatPrice }}€</span
        >
      </span>
    </div>
    <div class="msg msg--error" v-if="msg.qty">{{ msg.qty }}</div>
  </div>

  <script src="./app.js"></script>
</body>
</html>
