// Test
// created by Mindaugas on 09.05.2020
//////////////////////////

// variables
$breakpoint-tablets: 48em; // 768px
$color-black: #2a2c34;
$color-lightblack: #707070;
$color-lila: #ece0fd;
$color-blue: #6200ee;
$color-gray: #e5e5e5;
$color-darkgray: #00000099;
$color-darkergray: #cecece;
$border-color: $color-lightblack;

// mixins
@mixin transition() {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

// default styles
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: $color-black;
  font: 300 16px/22px "Open Sans", sans-serif;
  margin: 0;
  padding: 28px;
}
h1 {
  font: 700 20px/27px "Open Sans", sans-serif;
  text-transform: uppercase;
  margin-bottom: 30px;
}
p {
  margin-bottom: 30px;
}

// tabs component
.tabs {
  button {
    outline: none;
  }

  .tabs__nav {
    display: none;

    ul {
      margin: 0;
      padding: 0;
    }
  }
  .tabs__nav button,
  .tab__content-link {
    display: block;
    background: $color-gray;
    border: 1px solid $color-darkergray;
    border-width: 0 0 1px 0;
    padding-bottom: 1px;
    font: 500 14px/48px "Roboto", sans-serif;
    letter-spacing: 1.25px;
    color: $color-darkgray;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    width: 100%;

    &.active {
      background: $color-lila;
      border-bottom: 2px solid $color-blue;
      color: $color-blue;
      padding-bottom: 0;
    }
  }
  .tab__content-link:not(.active) {
    margin-bottom: 2px;
  }
  .tab__content {
    .tab__content-content {
      @include transition();
      opacity: 0;
      visibility: hidden;
      height: 0;

      p {
        margin: 0 0 19px 0;

        &:last-child {
          margin: 0;
        }
      }
    }
    &.active {
      .tab__content-content {
        opacity: 1;
        visibility: visible;
        height: auto;
        padding: 19px 9px;
        font: 200 20px/24px Helvetica, Arial, sans-serif;
      }
    }
  }

  dl {
    font-family: Helvetica, Arial, sans-serif;
    display: table;
    margin: 0 0 13px 0;
    width: 100%;

    &:last-child {
      margin: 0;
    }
  }

  dt {
    clear: both;
  }

  dt,
  dd {
    float: left;
    margin: 0;
    padding-right: 10px;
    width: 50%;
  }
}

// price component
.price__block {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
}
.price {
  font-size: 12px;
  margin-top: 5px;
  text-align: right;
}
.price--current {
  font-size: 20px;
  font-weight: 700;
  margin-left: 5px;
}
.price--old {
  font-size: 12px;
  text-decoration: line-through;
}

// qty component
#qty {
  font-size: 16px;
  max-width: 80px;
  padding: 5px;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  border: 1px solid $border-color;
}

// messages
.msg--error {
  color: red;
}

// media queries
@media all and (min-width: $breakpoint-tablets) {
  body {
    padding: 30px;
  }

  .tabs {
    max-width: 360px;

    .tabs__nav {
      display: block;

      ul {
        display: flex;
        list-style: none;

        li {
          margin-right: 1px;
          width: 100%;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .tab__content {
      border: 1px solid $border-color;
      border-width: 0 1px 1px;

      &.active .tab__content-content {
        padding: 20px 15px;
      }

      &:not(.active) {
        opacity: 0;
        visibility: hidden;
        height: 0;
      }

      dl:last-child {
        margin: 0 0 13px 0;
      }
    }

    .tab__content-link {
      display: none;
    }
  }

  .price__block {
    max-width: 360px;
  }
}
